*.bw
*.wig
*.bigwig
*.bam
*fragments.tsv
*.h5
*.h5ad
*.bai
*.tbi
*.cloupe
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx
*.xls
*.narrowPeak
*.gtf
*.snap
*.filepart
*.html
*.mtx
*.zip
*.Rds
*.Rmd
*.bed
*.Rproj.user
*.RDataTmp
.Rproj.user
